name: Sync to remote server

on:
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  run_pull:
    name: run pull
    if: "!contains(github.event.head_commit.message, '[skip syncing to remote]')"
    runs-on: ubuntu-latest
    
    steps:
    - name: Show latest commit message
      run: |
        echo "Latest commit message: ${{ github.event.head_commit.message }}"
        
    - name: get runner ip
      run: |
        RUNNER_IP=$(curl -s https://api.ipify.org)
        echo "RUNNER_IP=$RUNNER_IP" >> $GITHUB_ENV

    - name: transform runner ip to CIDR format
      id: to_cidr
      run: |
        CIDR="${RUNNER_IP}/32"
        echo "CIDR=$CIDR" >> $GITHUB_ENV

    - name: get hetzner server id
      run: |
        SERVER_ID=$(curl \
        -H "Authorization: Bearer ${{ secrets.HETZNER_TOKEN }}" \
        'https://api.hetzner.cloud/v1/servers?name=${{ vars.HETZNER_MAIN_SERVER_NAME }}' | jq '.servers[0].id')
        echo "SERVER_ID=$SERVER_ID" >> $GITHUB_ENV
        
    - name: set firewall name
      run: |
        FIREWALL_NAME=tmp_firewall
        echo "FIREWALL_NAME=$FIREWALL_NAME" >> $GITHUB_ENV
      
    - name: create new firewall resource
      id: create_firewall
      run: |
        curl \
          -X POST \
          -H "Authorization: Bearer ${{ secrets.HETZNER_TOKEN }}" \
          -H "Content-Type: application/json" \
          -d '{"name":"'$FIREWALL_NAME'","labels":{"key":"value"},"rules":[{"description":"Allow ssh","direction":"in","source_ips":["'$CIDR'"],"protocol":"tcp","port":"22"}],"apply_to":[{"type":"server","server":{"id":'$SERVER_ID'}}]}' \
          'https://api.hetzner.cloud/v1/firewalls'
          
    - name: install ssh keys
      # check this thread to understand why its needed:
      # https://stackoverflow.com/a/70447517
      run: |
        install -m 600 -D /dev/null ~/.ssh/id_rsa
        echo "${{ secrets.REMOTE_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.REMOTE_SSH_HOST_IP }} > ~/.ssh/known_hosts
        
    - name: update repository in hetzner server
      run: ssh ${{ secrets.REMOTE_SSH_USER }}@${{ secrets.REMOTE_SSH_HOST_IP }} "cd ${{ vars.REMOTE_ROOT_FOLDER_NAME }}/${{ vars.GIT_REPOSITORY }} && git checkout ${{ vars.GIT_MAIN_BRANCH_NAME }} && git pull && exit"

    - name: get firewall resource hetzner id
      id: get_firewall_id
      if: steps.create_firewall.outcome == 'success'
      run: |
        FIREWALL_ID=$(curl \
        -H "Authorization: Bearer ${{ secrets.HETZNER_TOKEN }}" \
        'https://api.hetzner.cloud/v1/firewalls?name='$FIREWALL_NAME'' | jq '.firewalls[0].id')
        echo "FIREWALL_ID=$FIREWALL_ID" >> $GITHUB_ENV

    - name: remove firewall resource from hetzner server
      id: remove_firewall_from_server
      if: steps.create_firewall.outcome == 'success' && steps.get_firewall_id.outcome == 'success'
      run: |
        curl \
          -X POST \
          -H "Authorization: Bearer ${{ secrets.HETZNER_TOKEN }}" \
          -H "Content-Type: application/json" \
          -d '{"remove_from":[{"type":"server","server":{"id":'$SERVER_ID'}}]}' \
          'https://api.hetzner.cloud/v1/firewalls/'$FIREWALL_ID'/actions/remove_from_resources'
          
    - name: delete firewall resource
      if: steps.create_firewall.outcome == 'success' && steps.get_firewall_id.outcome == 'success' && steps.remove_firewall_from_server.outcome == 'success'
      run: |
        curl \
          -X DELETE \
          -H "Authorization: Bearer ${{ secrets.HETZNER_TOKEN }}" \
          'https://api.hetzner.cloud/v1/firewalls/'$FIREWALL_ID''
    
    - name: cleanup
      run: rm -rf ~/.ssh